@import 'scss/mixins';
@import 'scss/ext';
@import 'scss/var';

* {box-sizing:border-box;font-family: 'Nunito', sans-serif;}
@keyframes bouncy {50% {transform:scale(1.2);background:none;} 75%{} 100% {transform:scale(1.1);background:$lime;}}
.cpt {text-transform:capitalize;}
p {font-size:14px;@include tablet {font-size:16px};@include lg-screen {font-size:18px}}
h2 {font-size:20px;@include tablet {font-size:24px};@include lg-screen {font-size:32px}}


.hidden-usr {display:none;}
.overlay {@include fixed(0,0,0,0);background:rgba(0,0,0,0.65);display:none;z-index:100;}
.overlay-exit {
	@include fixed(0,0,auto,auto);
	padding:10px;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	text-shadow:$gen-shadow;
	transition:.25s;
	z-index:150;
	@include tablet {
		top:15%;right:15%;
		font-size:32px;
		&:hover {font-size:42px;}
	}
}

//employee styles

.search {
	width:95%;
	margin:12px auto;
	padding:10px 5px;
	border-radius:5px;
	background:$offWhite;
	@include tablet {padding:10px 12px;width:90%;}

}
.search input {
	border-radius:5px;
	background:white;
	transition:.25s;
	color:$black;
	opacity:.65;
	border:1px solid $border;
	padding:8px 5px;
	&:focus {opacity:1;outline:none;}
}
.employee-direct {
	width:95%;
	margin:12px auto;
	padding:10px 0;
	border-radius:5px;
	background:$offWhite;
	@extend %clearfix;
	@include tablet {padding:18px 12px;width:90%;}
	.employee {
		padding:10px 5px;
		text-align:center;
		@include tablet {width:50%;padding:10px;float:left}
		@include desktop {width:33.333%}
		img {border-radius:75px;margin:12px auto;transition:.25s;}
		p {margin:0 auto 10px}
		h2 {margin:0 auto 14px;}
	}
}

.employee .content {
	@extend %clearfix;
	width:100%;
	background:$white;
	color:$black;
	padding:10px;
	border-radius:5px;
	border:1px solid $border;
	transition:.25s;
	cursor:pointer;
	text-align:left;
	img {padding:5px;width:33.333%;max-width:145px;float:left;height:auto;@include tablet {margin-left:2%;}}
	h2,p {width:60%;float:right;}
	h2 {margin: 20px auto 5px;@include tablet {margin-top:28px}}
	p {word-break:break-all;margin-bottom:5px;}
	&:hover {
		background:$black;
		color:$white;
		border-color: $ltBlack;
		img {
			animation:bouncy .65s ease-out forwards;
		}
	}
}


.employee-info {
	background:$black;
	border:1px solid $ltBlack;
	color:$gray;
	z-index:110;
	box-shadow:5px 5px 18px rgba(0,0,0,0.14),-5px 5px 18px rgba(0,0,0,0.14),-5px -5px 18px rgba(0,0,0,0.14),5px -5px 18px rgba(0,0,0,0.14);
	border-radius:5px;
	position:fixed;
	@extend %pos-center;
	display:none;
	width:90%;max-width:345px;
	padding:12px;
	img {background:$lime;padding:5px;box-shadow:$gen-shadow;}
	h2 {color:$white;}
}

.gray-line {padding:1px;border-radius:10px;background:$ltBlack;margin:14px auto;width:80%;}

//controls 

.arrow {
	color:white;
	text-shadow:$gen-shadow;
	padding:5px;
	transform:translateY(-50%);
	cursor:pointer;
	@include tablet {padding:100px 45px;font-size:24px;}
}
.right-arrow {@include fixed(50%,0,auto,auto);}
.left-arrow {@include fixed(50%,auto,auto,0);}