%abs-center {position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
%radius {border-radius:5px;}
%relative {position:relative;}
%genWide {width:100%;height:auto;}
%clearfix {display:table;content:'';clear:both;}