$gen-shadow: 1px 2px 5px rgba(0,0,0,0.35);
$d-shadow: 0 2px 5px rgba(0,0,0,0.25);
$full-shadow: 5px 5px 24px rgba(0,0,0,0.2),-5px -5px 24px rgba(0,0,0,0.2),-5px 5px 24px rgba(0,0,0,0.2),5px -5px 24px rgba(0,0,0,0.2);
$percenter:translate(-50%,-50%);
$black: #24262A;
$ltBlack: #4f5154;
$white: #fafafa;
$offWhite: #e1e1e1;
$gray: #d3d3d4;
$border: #c8c8c8;
$lime: #01FF70;